<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bubble.user.dao.UserDao" >
    <sql id="columns">
      `guid`,
      `username`,
      `avatar_url`,
      `nick_name`,
      `phone`,
      `phone_ext`,
      `email`,
      `gender`,
      `password`,
      `password_salt`,
      `self_signature`,
      `birthday`,
      `status`,
      `country`,
      `state`,
      `city`
    </sql>

    <sql id="columnsWithoutPassword">
      `guid`,
      `username`,
      `avatar_url`,
      `nick_name`,
      `phone`,
      `phone_ext`,
      `email`,
      `gender`,
      `self_signature`,
      `birthday`,
      `status`,
      `country`,
      `state`,
      `city`
    </sql>

    <insert id="insertUser" parameterType="userEntity">


    </insert>




    <select id="countByPhoneExtAndPhone" resultType="long">
      SELECT COUNT(ID) FROM user WHERE phone=#{phone} AND phoneExt=#{phoneExt}
    </select>
    <select id="countById" resultType="long">
      SELECT COUNT(ID) FROM user WHERE id=#{userId}
    </select>
    <select id="findByNickNameLike" resultType="userEntity">
      SELECT <include refid="columnsWithoutPassword"/> FROM user WHERE nickName=${nickName}
    </select>
    <select id="findById" resultType="userEntity">
        SELECT <include refid="columnsWithoutPassword"/> FROM user WHERE guid=${id}
    </select>
    <select id="findByPhoneExtAndPhone" resultType="userEntity">
        SELECT <include refid="columnsWithoutPassword"/>  FROM user WHERE phone=#{phone} AND phoneExt=#{phoneExt}
    </select>
    <select id="findByPhoneIn" resultType="userEntity">
        SELECT <include refid="columnsWithoutPassword"/>  FROM user WHERE phone in #{phone}
    </select>

    <select id="findByIdIn" resultType="userEntity">
        SELECT <include refid="columnsWithoutPassword"/>  FROM user WHERE id in #{ids}
    </select>
</mapper>